<h1 class="text-blue">Ember Leage Table</h1>

{{!-- Instantiate the service --}}
{{gameSimulator}}

{{!-- Old way of importing .hbs files 👇👇--}}
{{!-- {{game-results}} --}}
{{!-- New way of importing below. --}}
<GameResults />

<hr>

{{!-- {{league-table}} --}}
<LeagueTable />
